/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


body {
    background: url(assets/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo img {
    height: 40px;
}

.logo {
    margin: 40px;
}

.title {
    color: white;
    font-size: 70px;
}

.subtitle {}